@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --foreground: #151210;
    --background: #eee;

    --primary: #0a6450;
    --primary-shade: #084d3f;
    --border: #323131;
  }
  .dark {
    --foreground: #eee;
    --background: #151210;

    --primary: #0a6450;
    --primary-shade: #109177;

    --border: #eee;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground font-medium;
  }
  h1 {
    @apply text-3xl;
  }
  h2 {
    @apply text-2xl border-b;
  }
  h3 {
    @apply text-xl;
  }
  h4 {
    @apply text-lg;
  }
}
