@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --foreground: #151210;

    --background: #f0dec478;
    --background-shade: #c9c6c695;

    --primary: #0a6450;
    --primary-shade: #084d3f;
    --border: #323131;
  }
  .dark {
    --foreground: #aba8a8;

    --background: #151210;
    --background-shade: #0b0b0b49;

    --primary: #0a6450;
    --primary-shade: #109177;

    --border: #eee;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground font-sans font-medium m-5;
  }
  h1 {
    @apply text-3xl;
  }
  h2 {
    @apply text-2xl;
  }
  h3 {
    @apply text-xl;
  }
  h4 {
    @apply text-lg;
  }
}
